@model MicroForum_NetCore.Models.Usuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["SubTitle"] = "Adicionar Conta de Usuário";

}

<h2 class="titulo">@ViewBag.SubTitle</h2>

<div class="card bg-light p-5">
    <form asp-controller="Home" asp-action="AdicionarContas">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)<br />
            @Html.TextBoxFor(model => model.Nome)<br />
            @Html.LabelFor(model => model.Senha_1)<br />
            @Html.TextBoxFor(model => model.Senha_1)<br />
            @Html.LabelFor(model => model.Senha_2)<br />
            @Html.TextBoxFor(model => model.Senha_2)<br />
        </div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancelar\Voltar</a>
        <button class="btn btn-primary">Gravar</button>
    </form>
</div>
<div>

</div>

