@model MicroForum_NetCore.Models.Produto
@{
    ViewData["SubTitle"] = "Alterar Produto "; //Model.Nome
    int id = Model.Id_Produto;
}

<h2 class="titulo">@ViewBag.SubTitle</h2>
<hr />
<div class="card bg-light p-5">
    <form asp-controller="Home" asp-action="ProdutoAlterarGravar1" asp-route-id="@Model">
         @Html.HiddenFor(model => model.Id_Produto)
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)<br />
            @Html.EditorFor(model => model.Nome)<br />
            @Html.LabelFor(model => model.Price)<br />
            @Html.EditorFor(model => model.Price)<br />
        </div>
        <a asp-controller="Home" asp-action="ProdutoListar" class="btn btn-primary">Cancelar\Voltar</a>
        <button class="btn btn-primary">Gravar</button>
    </form>

</div>


